/*******
 * Browser reset
 *******/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
/*******
 * Browser reset end
 *******/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
     margin: 0 auto;
}
.section-container{
    max-width: 1208px;
    margin: 0 auto;
/*    padding: 0 16px;*/
}

.upper-case{
    text-transform:uppercase;
}

.services-wrap{
    background-color: #314b58;
}

.services-container{
    display:flex;
    justify-content: space-between;
    max-height: 268px;
}

.service-title {
    font-size: 20px;
    margin: 16px 0 12px 0;
}

.services{
    max-width: 780px;
}
.location{
    max-width: 430px;
}

.services-list, .service-area {
    display:flex;
}

.service-item {
    margin: 0 10px;
    text-align: center;
}

.service-item p {
    margin: 16px 0;
    font-size: 16px;
}

.service-item img{
    width: 172px;
    max-width: 172;
}

.service-area-container h2{
    font-size: 40px;
}

.service-area-img img {
    height: 256px;
    min-width: 380px;
    margin-right: 38px;
}

.service-area-description p{
    font-size: 18px;
    line-height: 1.4;
}

.service-area-links{
    margin-top: 46px;
    padding: 0;
    list-style: none;
}

.service-area-links li{
    margin-bottom: 10px;
}
