/*******
 * Browser reset
 *******/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
/*******
 * Browser reset end
 *******/

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
     margin: 0 auto;
}

/* utils */
.section-container{
    max-width: 1234px;
    margin: 0 auto;
    padding: 0 10px 0 22px;
}

.upper-case{
    text-transform:uppercase;
}

.roboto-slab-title {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* utils end */

/* Service section */
.services-wrap{
    background-color: #314b58;
}

.services-container{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services{
    max-width: 780px;
}

.services-container h2, .services-container h4{
    color: #fff;
}
.services-container h4 a{
    color: #fff;
    text-decoration: none;
}
.service-title {
    font-size: 24px;
    margin: 12px 0 12px 0;
}

.location{
    display: none;
    max-width: 430px;
}

.services-list {
    display:flex;
    column-gap: 22px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.service-item {
    text-align: center;
}

.service-item h4 {
    margin: 14px 0;
    font-size: 18px;
}

.service-item img{
    width: 172px;
    max-width: 172;
}
/* Service section end */

/* Service Area section */
 .service-area {
    display:flex;
    flex-wrap: wrap;
}

.service-area-container h2{
    font-size: 52px;
    margin-top: 14px;
    margin-bottom: 16px;
    color: #ab3c3c;
}

.service-area-img img {
    height: 256px;
    width: 376px;
    max-width: 376px;
    margin-right: 38px;
    margin-bottom: 20px;
}

.service-area-description p, .articles article p{
    font-size: 18px;
    line-height: 1.4;
    color: #314955;
}

.service-area-links{
    margin-top: 46px;
    padding: 0;
    list-style: none;
}

.service-area-links li {
    margin-bottom: 10px;
}

.service-area-links li a{
    color: #ab3c3c;
    text-decoration: none;
}
/* Service Area section end */


/* Articles section */
.articles-wrap {
    margin-top: 80px;
}

.articles-container h2 {
    font-size: 40px;
    margin-bottom: 0;
    color: #ab3c3c;
}

.articles {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.articles article {
    margin-bottom: 14px;
    margin-top: 26px;
}

.articles article img{
    width: 100%;    
/*    height: 254px;
    max-height: 254px;*/
    margin-bottom: 10px;
}

.articles article .text-wrap{
    height: 136px;
    position: relative;
}

.articles article a{
    position: absolute;
    bottom: 0;
    color: #ab3c3c;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #dba9a8;
}

/* Articles section end */


/* Medium Screens (Tablets, >= 768px) */
@media only screen and (min-width: 768px) {
    .service-area{
        flex-wrap: unset;
    }
    .service-area-img img{
        margin-bottom: 0;
    }

    .articles {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
}

/* Large Screens (Desktops, >= 1024px) */
@media only screen and (min-width: 1024px) {
    .articles {
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }
}

/* Extra-Large Screens (Large Desktops, >= 1200px) */
@media only screen and (min-width: 1200px) {
    .services{
        margin: 0;
    }
    .location{
        display: inline-block;
    }
}


